@media screen and (min-width: 480px) {
    .mobile {
        visibility: hidden;
    }
}

body {
    font-size: 62.5%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

span {
    color: #f8f8f8;
}

h1, h2, h3 {
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container */
.container.mobile {
    background-color: #141414;
}

/* Page Layout */
.Page_Table {
    height: 100%;
    width: 100%;
}

.Page_TRHeader {
    height: 3.2rem;
    vertical-align: top;
}

.Page_TRTopNav {
    height: 0;
}

.Page_TRContent {
    overflow: hidden;
}

.Page_TD {
    overflow: scroll;
    padding: 0;
}

/* Banner */
.Banner_Div {
    top: 0;
    padding: 0.5rem 1.5rem;
    background-color: #f8f8f8;
    width: 14rem;
    margin: auto;
    text-align: center;
}

.Banner_SpanText {
    color: #141414;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
}

/* Top Nav */
.TopNav_Div {
    position: relative;
    display: none;
}

.TopNav_UL {
    list-style-type: none;
    margin: 0rem 5rem;
    padding: 0;
    text-align: center;

}
.TopNav_LI {
    padding: 0.5rem 0rem;
}

.TopNav_LI+.TopNav_LI {
    border-top: 0.1rem solid #f8f8f8;
}

/* Home Container */
.Home_DivContainer {
    position: relative;
    background-color: #141414;
    text-align: center;
    height: 100%;
}

/* Home Nav Toggle */
.HomeNavToggle_Div {
    position: absolute;
    left: 50%;
    height: 2.5rem;
    margin: 0rem 0rem;
    z-index: 1300;
}

.HomeNavToggleUp_Div {
    width: 13rem;
    margin-left: -6.5rem;
}

.HomeNavToggleDown_Div {
    width: 9.2rem;
    margin-left: -4.6rem;
    margin-bottom: 0.5rem;
    bottom: 0;
}

.HomeNavToggle_DivA {
    width: 100%;
    height: 100%;
}

.HomeNavToggle_DivArrow {
    position: absolute;
    left: 1rem;
    top: -0.2rem;
}

.HomeNavToggle_SpanArrow {
    font-size: 2.2rem;
    font-weight: 300;
}

.HomeNavToggle_DivLabel {
    position: absolute;
    left: 3.3rem;
    top: 0.5rem;
}

.HomeNavToggleUp_DivLabel {
}

.HomeNavToggleDown_DivLabel {
}

.HomeNavToggle_SpanLabel {
    font-size: 1.2rem;
}

/* Home Logo */
.HomeLogo_Div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10rem;
    margin-top: -10.5rem;
    z-index: 1100;
}

.HomeLogo_DivImage {
}

.HomeLogo_ImgImage {
    width: 20rem;
}