@media screen and (min-width: 480px) {
    .mobile {
        visibility: hidden;
    }
}

body {
    font-size: 62.5%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

span {
    color: #f8f8f8;
}

h1, h2, h3 {
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.Home_DivContainer {
    position: relative;
    background-color: #141414;
    text-align: center;
    height: 100%;
}

/* Home Title */
.HomeTitle_Div {
    top: 0;
    padding: 0.5rem 1.5rem;
    background-color: #f8f8f8;
    width: 14rem;
    margin: auto;

}

.HomeTitle_SpanText {
    color: #141414;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
}

/* Home Nav Toggle */
.HomeNavToggle_Div {
    position: relative;
    height: 3rem;
    margin: auto;
}

.HomeNavToggleUp_Div {
    width: 13rem;
}

.HomeNavToggleDown_Div {
    width: 9.2rem;
}

.HomeNavToggle_DivArrow {
    position: absolute;
    left: 1rem;
}

.HomeNavToggle_SpanArrow {
    font-size: 2.2rem;
    font-weight: 300;
}

.HomeNavToggle_DivLabel {
    position: absolute;
    left: 3.3rem;
    top: 0.7rem;
}

.HomeNavToggleUp_DivLabel {
}

.HomeNavToggleDown_DivLabel {
}

.HomeNavToggle_SpanLabel {
    font-size: 1.2rem;
}

/* Home Logo */
.HomeLogo_Div {
}

.HomeLogo_DivImage {
}

.HomeLogo_ImgImage {
    width: 20rem;
}